body {
    background-color: palegreen;
    font-family: Arial;
}
.controls{
	display:flex;
	justify-content:space-between;
	color:white;
	margin:10px;
}
.product{
	background-color:white;
	display:flex;
	height:500px;
	width:600px;
	margin:50px auto;
	padding:20px;
	gap:20px;
	
}

.photo-container{
	margin-left:-40px;
	margin-top:20px;
	background-color:white;
	width:300px;
}
.photo-main{
	background-color:greenyellow;
	
}
.photo-main>img{
	margin-left:-60px;
	margin-top:-40px
}

.photo-album>ul{
	display:flex;
	list-style-type:none;
}
.photo-album>ul>li{
	border:1px solid lightgray;
}
.photo-album>ul>li>img{
	width:60px;
}

.title>h1{
	font-family:above;
}
.title>span{
	color:gray;
}
.price>span{
	color:red;
	font-size:80px;
	font-family:cadetblue;
}
.variant{
	color:gray;
}
.variant>ul{
	display:flex;
	list-style-type:none;
}
.variant>ul>li{
	border:1px solid lightgray;
}
h3{
	color:gray;
}
button{
	background-color:palevioletred;
	color:white;
	width:150px;
	border:none;
	height:50px;
}
